@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background: #f3f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

.app-header {
    background-color: #D96459;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-content: center;

    h2 {
        display: inline-block;
    }

    > div {
        margin: 8px;
    }
}
