.meh-form {
    background: #8C4646;
    padding: 20px 20px 6px;

    h2,
    h3 {
        text-align: center;
        font-weight: normal;
        color: #fff;
        margin-bottom: 10px;
    }

    form {
        margin: 0 auto;
        max-width: 480px;
        width: 100%;

        ::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: #fff;
        }

        :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #fff;
            opacity: 1;
        }

        ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #fff;
            opacity: 1;
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #fff;
        }

        :invalid {
            box-shadow: none;
        }

        :-moz-submit-invalid {
            box-shadow: none;
        }

        :-moz-ui-invalid {
            box-shadow: none;
        }

        input {
            line-height: 32px;
            background: transparent;
            border: 0;
            color: #fff;
            font-size: 1em;
            width: 100%;
            margin: 5px 0;
            padding: 0 6px;
            text-align: left;
            box-sizing: border-box;
            outline: 0;
            border-bottom: 1px solid #fff;
        }

        button {
            background: transparent;
            display: block;
            margin: 10px auto;
            border: 2px solid #fff;
            cursor: pointer;
            outline: none;
            padding: 6px 20px;
            color: #fff;
            font-size: 1.2em;
            transition: all 0.2s ease;

            &:hover {
                background: #8C4646;
            }
        }
    }
}
