.Message {
    padding: 10px 0;

    .message-container {
        display: flex;
    }

    .meta {
        width: 80px;
        text-align: center;

        .author {
            font-size: 0.6em;
            font-weight: bold;
            margin-bottom: 8px;
            display: inline-block;
            color: #2f2e2e;
        }

        img {
            max-width: 100%;
            border-radius: 80px;
        }
    }

    .message {
        padding: 10px;
        margin: 10px;
        width: calc(100% - 80px);
        background: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,.2);

        .message-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .message-header .meh {
            color: red;
        }

        .message-header h2 {
            color: #afafaf;
            font-weight: normal;
        }

        p {
            margin-top: 10px;
        }
    }

    .mehs-container {
        text-align: center;

        .mehs {
            button {
                background: #dfe3ee;
                cursor: pointer;
                outline: none;
                margin-right: 10px;
                border: 0;
                border-radius: 4px;
                color: #2f2e2e;
                transition: all 0.2s ease;

                &:hover {
                    background: #bdc3d2;
                }
            }
        }
    }
}
