.Message {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.Message .message-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Message .message-container::after {
    content: "";
    display: block;
    clear: both;
}

.Message .meta, .Message .message {
    float: left;
}

.Message .meta {
    width: 80px;
    text-align: center;
}

.Message .meta .author {
    font-size: .6em;
    font-weight: bold;
    margin-bottom: 8px;
    display: inline-block;
    color: #2f2e2e;
}

.Message .meta img {
    max-width: 100%;
    border-radius: 80px;
}

.Message .message {
    padding: 20px;
    width: calc(100% - 80px);
}

.Message .message h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.Message .message p {
    font-size: .8em;
    letter-spacing: 1px;
    margin-top: 4px;
}

.Message .mehs {
    margin-top: 10px;
}

.Message .mehs button {
    background: #dfe3ee;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 10px;
    border: 0;
    border-radius: 8px;
    color: #2f2e2e;
    font-size: 1em;
    transition: all .2s ease;
}

.Message .mehs button:hover {
    background: #bdc3d2;
}